%h1 File scroll
%p Views a given file over time, highlighting changes.
%h3 States of file "#{@file}" #{@fileCommits.size} commits processed. Time elapsed: #{(@elapsedTime*1000).round(3)} ms
%p
	%button.btn.btn-primary.changeButtons#back
		Previous commit
	%button.btn.btn-primary.changeButtons#forward
		Next commit

- @fileCommits.each_with_index do |c, i|
	-#hide all but current commit
	- hidden_state = c.id != @initialCommitHash ? 'hidden' : ''
	%div{:class => hidden_state, :id => c.id}
		%h3 Commit info
		%dl.dl-horizontal
			%dt Commit
			%dd= c.id.at(0..10)
			%dt Message
			%dd= c.message.at(0..80)
			%dt Author
			%dd= c.author
			%dt At
			%dd= c.date.to_s(:long)

		%h3 Addition info
		%p
			= @additions[i].inspect

		%h3 File contents
		%pre.code-block.loading
			%code.prettyprint.linenums
				=c.tree./(@file).data

		%h3 Diff
		%pre.code-block
			%code.prettyprint.diff
				=@diffs[i]

:javascript
	window.currentHash = "#{@initialCommitHash}"
	var hash_array = #{raw @hashArray.to_json}
	var additions_array = #{raw @additions.to_json}

