.jumbotron
  %h1
    = image_tag "favicon.png"
    Welcome to Gitrics
  %p
    Gitrics mines your project's git history to produce recommendations and graphs that help you improve the quality of your code.
  %p
    = link_to "Add your project!", new_project_path, :class => "btn btn-primary btn-lg"
%h1#projects Browse Projects
.row
- panelClasses = { 1 => "panel-primary", 2 => "panel-success", 3 => "panel-warning", 4 => "panel-danger", 5 => "panel-info"}
- @projects.each_with_index do |project, index|
  .col-md-3
    .panel{:class => panelClasses[index % 5 +1]}
      .panel-heading
        %h3.panel-title= project.name
      .panel-body
        %p
          .btn-group
            = link_to "View", project, {:class => "btn btn-darker", :type => "button"}
            %button.btn.btn-darker.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Edit', edit_project_path(project)
              %li= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
