.project-info
  %p#notice= notice
  %h1
    = @project.name
  %p
    %b Repo remote url:
    = @project.repo_remote_url
  %p
    %b Repo local url:
    = @project.repo_local_url
  = link_to 'Edit', edit_project_path(@project)
  |
  = link_to 'Back', projects_path
  %hr

-# %h2 Commit Information
-# %dl
-#   %dt Message
-#   %dd= @commit.message
-#   %dt time
-#   %dd= @commit.time

.row
  #sidebar.col-md-2
    #options
      %h2 Options
      Metric:
      = collection_select(:metric_id, :metric_name, Metric.all, :id, :name, {}, {:class => "input-sm"})
      Compare project with:
      = collection_select(:project_id, :project_name, Project.all, :id, :name, {:selected => @project.id}, {:class => "input-sm"})
      Number of gradient points:
      %span#gradient-points-count
        5

      %input#gradient-points{max: "20", min: "1", name: "gradientPoints", type: "range", value: "5", "data-show-value" => "true"}

      %h2 Browse
      %table.table.table-hover
        %tbody
          - if @parent_path != nil
            %tr
              %td
                = link_to "/projects/" + @project.id.to_s + "/" + @parent_path do
                  %span.glyphicon.glyphicon-folder-close.invisible
                  \..
          - @object.each_tree do |tree|
            %tr
              %td
                = link_to("/projects/" + @project.id.to_s + "/" + @path + tree[:name]) do
                  %span.glyphicon.glyphicon-folder-close
                  = tree[:name]
          - @object.each_blob do |blob|
            %tr
              %td
                = link_to("/projects/" + @project.id.to_s + "/" + @path + blob[:name]) do
                  %span.glyphicon.glyphicon-file
                  = blob[:name]

  .col-md-10
    .row
      .col-md-12
        %h2 5 Files to Fix
        #five-fixes.row.file-row
          .col-md-2.col-md-offset-1
            %span.glyphicon.glyphicon-file
            %h4 FileToFix1.rb
          - 4.times do |i|
            .col-md-2
              %span.glyphicon.glyphicon-file
              %h4 FileToFix#{i+2}.rb
    .row
      .col-md-12
        %h2 5 Files to Watch
        #five-watches.row.file-row
          .col-md-2.col-md-offset-1
            %span.glyphicon.glyphicon-file
            %h4 FileToWatch1.rb
          - 4.times do |i|
            .col-md-2
              %span.glyphicon.glyphicon-file
              %h4 FileToWatch#{i+2}.rb
    #progress.hidden
      %h2 Background Processing
      %p We're calculating metrics for your project - shouldn't take long!
      .progress.progress-striped.active
        #progress-bar.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar", :style => "width: 0%"}
          %span.sr-only 45% Complete
    %h2 Project Lifeline
    #chart-lifeline.chart

    %h2 File Network
    #chart-network.chart

%script#tip-template{:type => "x-tmpl-mustache"}
  %h4 {{filename}}
  %h5 {{metric_name}} score: {{score}}
  %h5 Commit Info
  = image_tag "http://gravatar.com/avatar/{{author.email_md5}}?s=48&d=mm", alt: "{{author.name}}", class: "tip-avatar"
  .commit-author
    %span.author-name
      {{author.name}}
    %br
    {{commit_message}}
  %br
  .commit-date
    {{commit_date}}

%script
  = "var path = \"#{@path}\";".html_safe
  var commits =
  = @jsonCommits.html_safe
  var commit_files =
  = @jsonCommitFiles.html_safe
  var commit_files_by_path =
  = @jsonCommitFilesByPath.html_safe
  var file_metrics =
  = @jsonFileMetrics.html_safe
  var d3Network =
  - if @d3Network
    = @d3Network.html_safe
  - else
    null
  var metric_stats =
  = @jsonMetricStats.html_safe
  var project =
  = @project.to_json.html_safe
  var authors =
  = @authors.to_json.html_safe
