<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Repo remote url:</b>
  <%= @project.repo_remote_url %>
</p>

<p>
  <b>Repo local url:</b>
  <%= @project.repo_local_url %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
