.project-info
  %p#notice= notice
  %h1
    = @project.name
  %p
    %b Repo remote url:
    = @project.repo_remote_url
  %p
    %b Repo local url:
    = @project.repo_local_url
  = link_to 'Edit', edit_project_path(@project)
  |
  = link_to 'Back', projects_path
  %hr

-# %h2 Commit Information
-# %dl
-#   %dt Message
-#   %dd= @commit.message
-#   %dt time
-#   %dd= @commit.time

.row
  #sidebar.col-md-2
    #options
      %h2 Options
      Metric:
      = collection_select(:metric_id, :metric_name, Metric.all, :id, :name, {}, {:class => "input-sm"})
      Compare project with:
      = collection_select(:project_id, :project_name, Project.all, :id, :name, {:selected => @project.id}, {:class => "input-sm"})
      Number of gradient points:
      %span#gradient-points-count
        5

      %input#gradient-points{max: "200", min: "1", name: "gradientPoints", type: "range", value: "5", "data-show-value" => "true"}

      %h2 Browse
      %table.table.table-hover
        %tbody
          - if @parent_path != nil
            %tr
              %td
                = link_to "/projects/" + @project.id.to_s + "/" + @parent_path do
                  %span.glyphicon.glyphicon-folder-close.invisible
                  \..
          - @object.each_tree do |tree|
            %tr
              %td
                = link_to("/projects/" + @project.id.to_s + "/" + @path + tree[:name]) do
                  %span.glyphicon.glyphicon-folder-close
                  = tree[:name]
          - @object.each_blob do |blob|
            %tr
              %td
                = link_to("/projects/" + @project.id.to_s + "/" + @path + blob[:name]) do
                  %span.glyphicon.glyphicon-file
                  = blob[:name]

  .col-md-10
    .row
      .col-md-12
        %h2 3 Files to Fix
        %p These are your worst files across all metrics at the moment
        #five-fixes.row.file-row
    .row
      .col-md-12
        %h2 3 Files to Watch
        %p These files have seen the biggest increase in metric score in recent commits.
        #five-watches.row.file-row
    #progress.hidden
      %h2 Background Processing
      %p We're calculating metrics for your project - shouldn't take long!
      .progress.progress-striped.active
        #progress-bar.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar", :style => "width: 0%"}
          %span.sr-only 45% Complete
    %h2 Project Lifeline
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-toggle" => "collapse", :href => "#collapseOne"}
            About
      #collapseOne.panel-collapse.collapse
        .panel-body
          The project lifeline plots the history of the project over time, showing the quality of each file at each commit specified by the given metric. The x-axis is linear by commit number rather than linear by time.
          %br
          Hovering over the files on the graph will show you information about the file at that point in time - its metric score, the committer and commit message, and the date.
    #chart-lifeline.chart
    %h2 Turbulence animation
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-toggle" => "collapse", :href => "#collapseTwo"}
            About
      #collapseTwo.panel-collapse.collapse
        .panel-body
          This animation plots turbulence (churn - the number of times a file is edited against the currently selected metric) over time. It's based on Michael Feathers'
          =link_to "recent work", "http://www.stickyminds.com/article/getting-empirical-about-refactoring"
          on project churn and complexity.As files are edited more they move to the right, and as their metric score increase, they move upwards.
          %br
          Files in the bottom left quadrant are "just right, first time" files with a low metric score and few edits
          %br
          Files in the top left quadrant are dumps of complicated code that are difficult to refactor. Refactoring may see these move right and downwards.
          %br
          Files in the top right quadrant are balls of mud that get more and more complicated each time somebody changes the file.
          %br
          Files in the bottom right quadrant are normally configuration files or functional parts of the codebase that have been well looked after.
    #chart-churn.chart
    .btn-group
      %button#churn-play.btn.btn-primary
        %span.glyphicon.glyphicon-play
      %button#churn-pause.btn.btn-primary
        %span.glyphicon.glyphicon-pause
      %button#churn-stop.btn.btn-primary
        %span.glyphicon.glyphicon-stop
    %h2 File Network
    #chart-network.chart

%script#tip-template{:type => "x-tmpl-mustache"}
  %h4 {{filename}}
  %h5 {{metric_name}} score: {{score}}
  %h5 Commit Info
  = image_tag "http://gravatar.com/avatar/{{author.email_md5}}?s=48&d=mm", alt: "{{author.name}}", class: "tip-avatar"
  .commit-author
    %span.author-name
      {{author.name}}
    %br
    {{commit_message}}
  %br
  .commit-date
    {{commit_date}}

%script#fix-file-template{:type => "x-tmpl-mustache"}
  %a{:href => "{{path}}"}
    %span.glyphicon.glyphicon-file{:style=> "color: {{color}}"}
    %h4 {{filename}} ({{score}})
  %p
    %span.glyphicon.glyphicon-ok-sign.tick-cross.ok-file
    %span.glyphicon.glyphicon-remove-sign.tick-cross.remove-file

%script
  = "var path = \"#{@path}\";".html_safe
  var commits =
  = @jsonCommits.html_safe
  var commit_files =
  = @jsonCommitFiles.html_safe
  var commit_files_by_path =
  = @jsonCommitFilesByPath.html_safe
  var file_metrics =
  = @jsonFileMetrics.html_safe
  var d3Network =
  - if @d3Network
    = @d3Network.html_safe
  - else
    null
  var metric_stats =
  = @jsonMetricStats.html_safe
  var project =
  = @project.to_json.html_safe
  var authors =
  = @authors.to_json.html_safe
  var filesToFix =
  = @filesToFix.to_json.html_safe
