#file-view-chart.file-chart
.chart-y-label.file-view
	%p Metric Score
.chart-x-label.col-md-12.file-view
	%p Commit
%p
	%button.btn.btn-primary.changeButtons#back
		Previous commit
	%button.btn.btn-primary.changeButtons#forward
		Next commit


- @fileCommits.to_a.reverse.each do |hash, file_commit|
	-#hide all but current commit
	- hidden_state = hash != @initial_commit_hash ? 'hidden' : ''
	%div{:class => hidden_state, :id => hash}
		%h3 Commit info
		%dl.dl-horizontal.commit-info
			%dt Commit
			%dd= hash.at(0..10)
			%dt Message
			%dd= file_commit[:commit].message #.at(0..80)
			%dt Author
			%dd
				= file_commit[:commit].author.name
				= "(" + file_commit[:commit].author.email + ")"
			%dt At
			%dd= file_commit[:commit].date.to_s(:long)

		%h3
			File contents
			.pull-right
				%button.btn.btn-info.btn-xs#text-smaller
					a
				%button.btn.btn-info.btn-xs#text-larger
					A
		%pre.code-block
			%code.prettyprint.linenums
				=file_commit[:file_contents].encode('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '')
:javascript
	window.currentHash = "#{@initial_commit_hash}"
	var hash_array = #{raw @fileCommits.keys.to_json}
	var file_versions = #{raw @fileCommits.to_a.reverse.to_json}
	var file_metrics = #{raw @individual_file_metrics.to_json}
	var metrics = #{raw @metrics.to_json}
	var commit_files = #{raw @commitFiles.to_json}
	var metric_stats = #{raw @json_metric_stats}